.table{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p{
    margin-top:1em;
    margin-left: 2em;
    margin-right:2em;
}

table-label{
    margin-top:2em;
}

.page-title{
    margin-top:3em;
}

.page-title h1,h2{
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.table1{
    margin-top: 2em;
}

.table2{
    margin-top: 2em;
}